.my-footer {
  height: 56px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  background-color: #fffff2;
}

.footer-grid {
  height: 100%;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(51, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.footer-grid .my-info {
  width: 100%;
  text-align: right;
  grid-row: 1;
  grid-column: 1/26;
}

.footer-grid .divider {
  grid-row: 1;
  grid-column: 26;
}

.footer-grid .designed-by {
  width: 100%;
  grid-row: 1;
  grid-column: 27/-1;
}

.footer-grid .my-socials {
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  grid-row: 2;
  grid-column: 1/-1;
}

.footer-grid .my-socials a {
  margin-left: 5px;
  margin-right: 5px;
}

.footer-grid .my-socials .twitter:hover {
  color: #1da1f2;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.footer-grid .my-socials .facebook:hover {
  color: #4267b2;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.footer-grid .my-socials .email:hover {
  color: #db4437;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.footer-grid .my-socials .github:hover {
  color: #f6f8fa;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
