.accordion-open {
  height: 360px;
  width: 100%;
  background-color: green;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.open-content {
  grid-row: 1/9;
  background-color: plum;
  /* NEW GRID */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-items: center;
  padding: 1rem;
}

.open-buttonbar {
  grid-row: 9/-1;
  height: 40px;
  background-color: red;
  /* NEW GRID */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.qr,
.archive,
.edit,
.trash {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr {
  grid-column: 1;
  background-color: lightsteelblue;
}

.archive {
  grid-column: 2;
  background-color: greenyellow;
}

.edit {
  grid-column: 9;
  background-color: bisque;
}

.trash {
  grid-column: 10;
  background-color: orange;
}

.qr .fa-qrcode,
.archive .fa-archive,
.edit .fa-edit,
.trash .fa-trash-alt {
  font-size: 1.1rem;
}

.qr .fa-qrcode:hover,
.archive .fa-archive:hover,
.edit .fa-edit:hover {
  color: #005bac;
}

.trash .fa-trash-alt:hover {
  color: #ff0033;
}
