.download-csv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-csv {
  grid-column: 19/-1;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #333333;
}

.fa-download {
  font-size: 1.5rem;
}

.download-csv button {
  width: 100%;
  height: 100%;
}

.download-csv button:hover {
  color: #005bac;
}
