.sort-div {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
  border: 1px solid #333333;
  /* border-bottom: 1px solid #333333;
  border-left: 1px solid #333333; */

  /* background-color: green; */
}

.fa-arrow-up,
.fa-arrow-down {
  font-size: 1.5rem;
}

.sort-div button {
  width: 100%;
  height: 100%;
}

.sort-div button:hover {
  color: #005bac;
}
