.archived {
  grid-column: 5/-1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  color: #333333;
}

.due-no {
  grid-column: 5/-1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  color: #5bb966;
}

.due-close {
  grid-column: 5/-1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  color: #ffa824;
}

.due-yes {
  grid-column: 5/-1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  color: #ff0033;
}

.fa-exclamation-circle {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.due-close .fa-exclamation-circle {
  color: #ffa824;
}

.due-yes .fa-exclamation-circle {
  color: #ff0033;
}
